/*
Theme Name: Concytec
Author: Miguel Fuentes
Author URI: https://www.kodewp.com
Theme URI: https://www.kodewp.com
Description: Template desarrollado a medida para el "Concytec".
Version: 1.0
License: Premium
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: concytec
*/


/**PATCH**/

html {
	scroll-behavior: smooth;
}

@media only screen and (min-width: 767px) {
	body {
		zoom: 70%;
	}
}

ul.slider-principal__list.swiper-wrapper a {
	width: 100%;
	background-size: contain !important;
}

.table-one .table-g table thead tr th {
    border-radius: 50px !important;
    padding: 30px;
}

.inv-list--banner .block-g__figure.equipos-banner {
	background-image: url('./public/assets/images/4.0.old.png') !important;
}


.slider-principal__container.wrapper-container {
	max-width: 100% !important;
}

li.swiper-slide {
    /*background-image: url(http://localhost/beta.andina-digital.com/concytec/wp-content/uploads/2020/10/bg-desktop.png);*/
    /*border: solid;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.equipamento-item {
	margin-top: 5%;
	width: 400px;
	height: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.programa-item {
	margin-top: 5%;
	width: 400px;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.titleSingle {
	color: #fff;
}


.main-content {
	margin-top: 1.8%;
}

#wpadminbar {
	zoom: 115% !important;
}

.btn--float-component {
	position: relative;
    margin: 0 auto;
    text-align: center;
    /*left: 43%;*/
    /*top: 80%;*/
}



.component-objpre {
	display: flex;
	flex-wrap: wrap;
	padding: 5% 0;
	/*align-items: flex-end !important;*/
}



.component-objpre .component-objpre__container.wrapper-container {
	width: 100%;
}

.component-objpre .btn--float-component.title-g__buttons {
	width: 100%;
}


.component-objpre__items {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    align-items: baseline !important;
    display: flex !important;
}


.component-objpre__items .component-objpre__item {
    width: 43% !important;
    /*border: solid red;*/
}	

.component-objpre__figure {
	/*top: 50% !important;*/
}


.component-objpre__items .component-objpre__item {
	width: 40% !important;
    /*border: solid red;*/
    max-width: 750px !important;
    height: 255px !important;
}

.objpre__figure {
	top: 50% !important;
}

.itemText-left {
	margin-left: 15%;
}

.single-content {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}


.wrapper-container {
	padding: 0 50px;
}

.equipamientos-block--equipamientos .block-g__title {
	width: 45% !important;
}



.single-table .table-g thead th {
	font-size: 18px !important;
}

.single-table .table-g thead.thead-lightblue {
	background: #4fc6df !important;
}

.single-table .table-g thead.thead-green {
	background: #a4c639 !important;
}




.single-table .table-g tbody td {
	font-size: 16px !important;
	padding: 13px 25px 9px 25px !important;
}


.single-table .table-g table {
	width: auto !important;
}


/**NEWS**/

.wrapper-news {
/*padding: 65px 0;*/
    max-width: 1600px !important;
    display: flex;
    /*border: solid;*/
}

.single-content--news {
    width: 65%;
    margin: 2.5%;
}

.wrapper-sidebar {
    width: 25%;
    margin: 2.5%;
}


/**Sidebar**/

.wrapper-sidebar .sidebar-content {
    border: solid 1px;
    padding: 35px 25px;
    border-radius: 15px;
    border-color: #a4c639;
}

.sidebar-item {
    padding: 3.5% 1%;
    border-top: solid 1px #4fc6df;
}

.sidebar-item h4 {
	line-height: 1.5;
}

.sidebar-item h4:hover {
	opacity: 0.8 !important;
}

/*.sidebar-item a:hover {*/
	/*text-decoration: none;*/
/*}*/

.sidebar-item a:visited {
	/*text-decoration: none;*/
	opacity: 0.5;
}

.more-post {
	text-align: right !important;
}


.consy-row {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.consy-col {
    /*width: 35%;*/
    display: flex;
    /*border: solid #000;*/
    border-radius: 15px;
    padding: 2.5% 4%;
    margin-bottom: 2.5%;	
    background-color: #fff;
}

.consy-col-lg-6 {
    width: 40%;
}

.consy-col-lg-12 {
    width: 100%;
}

.data--date {
	color: #cecece;
}

.data-title {
    margin-bottom: 13%;
    margin-top: 5%;	
}

.item-download {
	display: flex;
	align-items: center;
	padding: 0 !important;
	width: 100% !important;
}



.bg-single {
	width: 100%;
    /*background-image: url(https://concytec.andina.cloud/wp-content/uploads/2020/10/header-noticias.png);*/
    max-height: auto;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


section.header-single {
	/*margin-top: 1.4%;*/
	margin-top: 0%;
}




.item-img figure img {
	width: 100%;	
}

.item-img {
	width: 35%;
}

.item-data {
	width: 54%;
    padding: 0 5% 5% 5%
    /*border: solid;*/
}


/**ARCHIVE**/


.page-template-theme-noticias .wrapper-padding,
.page-template-theme-publicaciones .wrapper-padding,
.page-template-theme-cuentas .wrapper-padding {
	background-color: #eaeaea;
}

.page-template-theme-grid-post .wrapper-padding {
	background-color: #eaeaea;
}

.page-template-theme-manual .wrapper-padding {
	background-color: #eaeaea;
}

/**pagination**/
/*
.pagination {
	display: flex !important;
    justify-content: space-around;
}

.page-numbers {
    background-color: #fff;
    padding: 21px 28px;
    border-radius: 50%;
    font-size: 1.8em;
    margin: 0 3%;
    font-weight: bold;
}

.row-pagination {
	display: flex;
	justify-content: space-around;
}

.pagination .prev.page-numbers,
.pagination .next.page-numbers {
	display: none;
}

span.page-numbers.current {
    background: #4fc6df;
    color: #fff;
}

a.page-numbers {
	color: #4fc6df;
}*/

/*
.pagination-block--wp a:not(.previouspostslink):not(.nextpostslink), 
.pagination-block--wp span:not(.previouspostslink):not(.nextpostslink) {
    display: block;
    width: 28px;
    line-height: 40px;
    height: 38px;
    text-align: center;
    border-radius: 100%;
    font-size: 28px;
    font-family: "Montserrat-Regular", sans-serif;
    color: #005470;
    background: #fff;
    margin: 0 20px;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;	
}
*/


/**results**/

.content-results {
	width: 85%;
	margin: 0 auto;
	margin-top: 5%;
}


.container-results {
    /*border: solid;*/
    width: 75%;
}

.item-col {
	margin: 0 2%;
}

.item-result {
	/*border: solid red;*/
    display: flex;
    margin-bottom: 5%;
}

.result-data {
	width: 15%;
}

.result-image {
	width: 25%;
}

.result-image img {
	width: 100%;
}

.result-content {
	width: 25%;
}

.result-btn {
	width: 20%;
}

.btn-results {
	height: 50px !important;
	line-height: 50px !important;
}

.content-notfound {
    width: 100%;
    margin: 10% auto;
    max-width: 450px;
    text-align: center;
}

.content-notfound figure {
    opacity: 0.8;
    margin-bottom: 10%;
}


.main-footer__social {
	text-align: center;
}

.main-footer__social p,.main-footer__social a {
	color: #fff;
}

.main-footer_socialData {
    border-bottom: solid 1px #9e9e9e42;
}

.main-footer_socialData p {
	font-weight: bold;
	font-size: 0.9em;
}

.main-footer_socialData, .main-footer__socialForms {
	margin-bottom: 3%;
}

.main-footer__socialForms a {
    font-weight: bold;
    margin: 0 1%;
    text-decoration: underline;
    font-family: "Montserrat-Regular", sans-serif !important; 
}

.main-footer__socialForms a:hover {
	text-decoration: underline;
}

.main-footer__social.list--none {
    font-family: 'Montserrat' !important;
}



.block-g__mapElementItemThumb img {
    width: 120px !important;
    height: 120px !important;
}


.block-g__mapElementItemThumb {
    width: 120px !important;
    height: 120px !important;
}

.block-g__mapElementItemTitle > h3 {
	margin-top: 15px !important;
}



.bg-single {
	display: flex;
	/*justify-content: space-around;*/
	align-items: center;
}

.wrapper-video {
	padding: 0 0 65px 0 !important;
}


.hand-svg {
    position: absolute;
    top: 65%;
    left: 22%;
    width: 9%;
}


.btn-videos {
	height: 55px !important;
	line-height: 55px !important;
}

.figure_bg_video {
	background-image: url(../images/1.video.png);
}




.equipamientos-block__sectorsTables .table-g:before {
	backdrop-filter: none !important;
}


.bg-color-celeste {
	background-color: #4fc6df !important;
}

.bg-color-verde {
	background: #a4c639 !important;
}

.bg-color-azul {
	background-color: #005d77 !important;
}

.bg-color-blanco {
	background-color: #fff !important;
}

.down-link .title-g__button {
	margin-top: 0 !important;
	text-align: center;
}

.down-link .button-g__text {
	height: 55px;
	line-height: 55px;
}

.down-size {
	font-family: "Montserrat-Regular", sans-serif;
	color: #9D9D9D !important;
}

.title-rendicion {
	width: 49% !important;
}

.st25 {
    z-index: -99 !important;
}


@media only screen and (min-width: 767px) {
	
	.closeCity {
		display: none;
	}

	.consy-col {
	    max-height: 280px !important;
	}

	.bg-single-video {
		height: 250px !important;
	}

	.bg-single h1 {
		height: auto;
	    padding: 3% 0 3% 10%;
	    font-size: 60px !important;
	    width: 40%;
	    margin: 0;
	}

	.brJump br {
		display: none;
	}	

	.slider-desktop {
		display: block;
	}

	.slider-mobile {
		display: none;
	}	

	.down-title {
		width: 50%;
	}

	.down-title h4 {
		padding: 0 30% 0 0;
	}

	.down-size,
	.down-link {
		width: 25%;
	}

}


@media (max-width: 1559px) and (min-width: 1200px) {
	.titleText-g__fz--24 {
	    font-size: 18px !important;
	}

}

@media (max-width: 1559px) and (min-width: 1200px) {
	
	.title-g__fz--80 {
	    font-size: 70px !important;
	}

}

@media (max-width: 480px) { 
	.equipamiento-block__inf--inv .equipamiento-block__infTitleTop .title-g__title span {
	    font-size: 24px !important;
	}
 }



@media only screen and (max-width: 767px) {
	

	.title-rendicion .titleText-g__fz--27 p span {
	    font-size: 12px !important;
	}	

	.block-g__mapElements {
	    display: block;
	    margin-top: 10%;
	    position: fixed;
	    width: 90%;
	    height: 25%;		
	}

	.home-components__items {
		margin-top: -5% !important;
	}

	.home-components__item a {
	    margin: 0;
	    width: 100%;
	    /*border: solid;*/
	    display: flex;
	}

	.home-components__itemInfo	{
		max-width: 150px !important;
	}

	.home-components__items	{
		margin-left: 1.5% !important;
	}

	.home-components__item:nth-child(2) {
	    margin-left: 15%;
	    margin-bottom: 26px;		
	}


	.home-components__item:nth-child(3) {
	    margin-left: 15%;
	    margin-bottom: 26px;
	}

	/*** Modal */
	.block-g__mapElementItem {
		width: 45% !important;
		margin-bottom: 15%;
	}

	.closeCity {
	    position: absolute;
	    right: 4%;
	    z-index: 99;
	    top: 4%;
	    width: 15px;
	    height: 15px;
	    text-align: center;
	    padding: 0;
	    margin: 0;
	    border-radius: 50%;
	    line-height: 13px;
	    font-size: 15px;		
	}

	.block-g__mapElement.active {
	    /*border: solid;*/
	    position: absolute;
	    left: 0%;
	    width: 80%;
	    top: 75%;
	    padding: 10%;
	}


	.block-g__mapElementItemThumb, .block-g__mapElementItemThumb img {
		width: 50px !important;
		height: 50px !important;
	}

	.block-g__mapElementItemTitle h3 {

	}

	/****/


	.title-rendicion {
		width: 100% !important;
		margin-top: -35% !important;
	}

	.equipamento-item {
	    width: 250px !important;
	    height: 200px !important;		
	}

	.programa-item {
	    width: 250px !important;
	    height: 200px !important;		
	}

	.item-download {
		flex-wrap: wrap;
	}

	.down-title {
		width: 100%;
		margin-bottom: 5%;
		font-size: 19px !important;
	}

	.down-size,
	.down-link {
		width: 100%;
		margin-bottom: 5%;
	}

	.down-title h4 {
		font-size: 15px !important;
	}

	.down-link a {
	    width: 80% !important;
	}	

	.down-size h4 {
		font-size: 12px !important;
	}

	.slider-desktop {
		display: none;
	}

	.slider-mobile {
		display: block;
		background-position: center;
	}

	.title-g__fz--55 {
		font-size: 30px !important;
	}

	.inv-list--banner {
		/*padding-top: 1% !important;*/
	}

	.equipamiento-g__slide .inv-list--banner {
		/*height: 560px !important;*/
	}


	.equipamiento-g__slide .swiper-pagination-bullets {
		display: block !important;
		/*bottom: 35% !important;*/
	}

	.block-g--component4 .block-g__figure {
	    left: 0 !important;
	    top: -120px !important;
	    width: 680px !important;
	    display: block !important;
	}

	.btn--float-component {
    /*position: absolute;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    left: 25% !important;
    top: 90% !important;		
	}


	a.main-footer__logoList img {
	    width: 90%;
	    margin-bottom: 15%;
	}	

	.hideSep {
		display: none;
	}

	.home-projects__container.wrapper-container {
		padding: 0;
	}

	.wrapper-container {
 	   padding: 0px 18px !important;
	}
		
	.bg-single {
		/*display: flex;*/
		justify-content: start;
		/*align-items: center;*/
		background-position: 15% !important;
		padding: 10% 0 10% 10% !important;
		height: auto;
	}

	.bg-single h1 {
		margin: 0 !important;
	}
		

	.equipamiento-g__slide .inv-list--banner {
	    /*height: 700px !important;*/
	}

	.inv-list--banner2.inv-list--banner {
		height: auto !important;
	}

	.g-item__info {
		display: block !important;
		height: auto !important;
	}



.pagination-block--wp a:not(.previouspostslink):not(.nextpostslink), .pagination-block--wp span:not(.previouspostslink):not(.nextpostslink) {
    width: 25px !important;
    height: 25px !important;
    line-height: 25px !important;
    margin: 0 15px;
}	


	.slider-principal .swiper-pagination-bullets {
		display: block !important;
	}

	ul.sub-menu li a {
    	color: #005470 !important;
	}

	ul.sub-menu li a:visited {
		color: #005470;
	}

	.main-sidebar__logosList img {
	    width: 80% !important;
	}	

	.main-footer__social.list--none {
		line-height: 2;
		font-size: 12.5px;
	}

	.item-result {
		flex-wrap: wrap;
	    border-bottom: solid #f0f0f0;
    	margin-bottom: 20% !important;
	}
	
	.container-results {
		width: 100%;
	}

	.item-col .result-btn {
		text-align: center;
	}


	.result-data {
		width: 100%;
	}

	.result-image {
		width: 100%;
	}

	.result-image img {
		width: 100%;
	}

	.result-content {
		width: 100%;
	}

	.result-btn {
		width: 100%;
	}	

	.item-col {
		margin-bottom: 8%;
	}

	.item-col h4 {
		font-size: 20px !important;
	}

	.item-col p {
		font-size: 16px !important;
	}

	.main-content {
		margin-top: 1% !important;	
	}

	.slider-principal__container {
    	height: 550px !important;
	}

	.slider-principal {
		height: 620px !important;
	}

	.equipamientos-block--equipamientos .block-g__title {
    	width: 100% !important;
	}


	.component-objpre__items .component-objpre__item {
		width: 100% !important;
	}

	.component-objpre__itemText {
		width: 100%;
	}

	.itemText-left {
		margin-left: 0% !important;
	}

	.wrapper-new {
		flex-wrap: wrap;
	}

	.single-content--news {
	    width: 100%;
	    /*margin: 2.5%;*/
	}

	.wrapper-sidebar {
	    width: 100%;
	    /*margin: 2.5%;*/
	}

	.consy-col {
		padding: 10% !important;
		margin-bottom: 10% !important;
	}

	.consy-col-12 {
	    width: 100% !important;
	    display: flex;
	    flex-wrap: wrap;
	}	


	.item-img {
		width: 100%;
	}

	.item-data {
		width: 100%;
	    padding: 5% !important;
	    /*border: solid;*/
	}


	.text-content img {
	    width: 100%;
	    height: auto;
	}	


	.wrapper-news {
	    flex-wrap: wrap;
	}	

	.detail-g__contentInfo {
		overflow-x: scroll;
	}


}



/**MAP**/

#lima:hover {
	cursor: pointer;
	/*display: none;*/
}